body {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    margin: 20px 0 0 20px;
}
#msg-successful, #msg-failed {
    display: none;
    margin-bottom: 20px;
}
#form-settings {
    font-size: 20px;
}
#msg-saved {
    display: none;
    margin-top: 10px;
}
#top > div {
    display: inline-block;
    margin-bottom: 20px;
}
#top-text {
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    position: relative;
    bottom: 17px;
    left: 15px;
    font-size: 15px;
}
#btn-connect {
    display: none;
}
#msg-connect-failure {
    display: none;
    margin-top: 20px;
}